
@{
    ViewBag.Title = "LoginFailed";
}

<h2>LoginFailed</h2>
<p>Your failure has been logged. Any further attempts at unauthorized access to this system may attract attention of the committee of public safty.</p>

